@font-face
{
  font-family: Orbitron;
  src: url('fonts/Orbitron-Medium.ttf'),
  url('fonts/Orbitron-Medium.ttf'); /* IE9 */
}
body{
  background-color:#242424;
  font-family:Orbitron;
}
h1 {
  color:white;
}
#playlist,audio,video,#search,#playertitle{
  background:#666;
  width:600px;
  padding:20px;
  float:left;
}
.active a{
  color:#5DB0E6;
  text-decoration:none;
  border: 1px #5DB0E6 solid;
}
li{
  list-style:none;
}
li a{
  color:#eeeedd;
  background:#333;
  padding:5px;
  display:block;
}
li a:hover{
  text-decoration:none;
}
div#search{
  margin: 15px 0px 15px 0px;
  border-radius: 5px;
}
#search input{
  width: 600px;
  border-radius: 5px;
}
#playertitle{
  color:white;
  height:177px;
}
#playertitle ul li a{
  cursor: help;
}
audio,video{
  display:block;
}
#playlist{
  height: 489px;
  overflow-y: scroll;
}
#playlist li a {
  margin-bottom: 1px; 
}
#playlist a:hover{
  border: 1px #5DB0E6 solid;
}
#instantAnswer{
  background: #666;
  width: 600px;
  max-width: 600px;
  min-height: 600px;
  padding: 20px;
  float: right;
}
#iaul li {
  color:#eeeedd;
  background:#333;
  padding:5px;
  margin-bottom: 11px;
  display:block;
}
